.tab {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttonheader {
  margin-left: 18px;
  margin-top: 6px;
}

.buttonheader a {
  font-size: 14px;
}

.navbar {
  list-style: none;
  margin-top: 15px;
  position: fixed;
  display: flex;
  align-items: right;
  width: 100%;
  right: 0;
  text-align: right;
  justify-content: center;
  background: black;
}
